/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.image-box {
    width: 100%; /* Make the image boxes take up the full width of the page */
    height: 100vh; /* Set the height of the image boxes to cover the entire viewport height */
    background-size: cover; /* Set background image to cover the image box */
    background-position: center center; /* Center the background image */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-box.dogs {
    background-image: url('dog_bg.jpg'); /* Replace with actual dog image */
    background-color: transparent; /* Add a semi-transparent black background */
    background-size: cover; /* Set background image to cover the image box */
    background-position: center center; /* Center the background image */
    opacity: 0.3; /* Adjust the opacity to make it appear as a watermark */
}

.image-box.cats {
    background-image: url('cat_bg.jpg'); /* Replace with actual cat image */
    background-color: transparent; /* Add a semi-transparent black background */
    background-size: cover; /* Set background image to cover the image box */
    background-position: center center; /* Center the background image */
    opacity: 0.3; /* Adjust the opacity to make it appear as a watermark */
}

.image-box h2 {
    margin-top: 0;
    font-size: 24px;
}

.image-box ul {
    list-style: none;
    padding: 0;
}

.image-box li {
    margin-bottom: 10px;
}

.image-box img {
    max-width: 75%; /* Set the maximum width of the image to cover 75% of the page */
    max-height: 100%; /* Maintain the aspect ratio of the image */
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer; /* Add cursor style for clickable images */
}
